.Detail{
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 0 30px rgba(0,0,0,.1);
}

.Image{
    flex-basis: 100%;
    flex-wrap: wrap;
    max-height: 70vh;
}
.Image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center top;
}

.Desc{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    padding: 20px;
    text-align: left;
}

@media screen and (min-width: 768px){
    .Image{
        flex-basis: 60%;
    }

    .Desc{
        flex-basis: 40%;
    }
}
.Head{
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Head .User{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.Head .Image{
    flex-basis: 60px;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px #2b2b2b solid;
    margin-right: 10px;
}

.Head .Image img{
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}

.Head .Date{
    font-size: 14px;
    color: #ccc;
}

.Text{
    color: #2b2b2b;
    font-weight: bold;
    flex-grow: 1;
}

.Footer{
    display: flex;
    flex-wrap: wrap;
}

.Footer .Likes, .Footer .Socials{
    flex-basis: 50%;
}

.Footer .Likes{
    display: flex;
    align-items: center;
}

.Footer .Likes > div{
    margin-right: 15px;
}

.Footer .Socials{
    display: flex;
    justify-content: flex-end;
}

.Footer .Socials > *{
    margin-left: 15px;
}
