.Header {
    position: fixed;
    width: 100%;
    padding: 10px 0;
    box-shadow: 0 0 30px rgba(0, 0, 0, .1);
    z-index: 100;
    background: white;
    top: 0;
    left: 0;

    .Logo{
        height: 70px;
        @media screen and (min-width: 768px){
            height: 100px;
        }
        a{
            display: block;
            width: 100%;
            height: 100%;
            img {
                padding: 5px;
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: center;
            }
        }
    }
    .Login_button{
        background: white;
        border: 2px solid #2b2b2b;
        border-radius: 5px;
        padding: 5px 15px;
        transition: color .2s, background-color .2s;
        &:hover{
            background: #2b2b2b;
            color: white;
        }
    }
}